:root {
	--clr-black: rgba(0, 0, 0);
	--clr-grey: rgb(41, 43, 51);
	--clr-light-grey: rgba(180, 180, 187, 0.87);
	--clr-white: rgba(255, 255, 255, 0.87);
	--clr-green: rgba(165, 255, 174, 0.87);
	--clr-hover: rgba(103, 244, 117, 0.87);
	--clr-copied: rgba(242, 219, 11, 0.87);

	--ff-primary: Red Hat Mono, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--ff-accent: Manjari, sans-serif;

	--fw-400: 400;
	--fw-700: 700;

	--fs-med: 0.95rem;
	--fs-small: 0.85rem;

	--lh-small: 1.5;

	font-family: var(--ff-primary);
	line-height: var(--lh-small);
	font-weight: var(--fw-400);
	color: var(--clr-white);

	color-scheme: light dark;
	background-color: var(--clr-black);
}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
}

h2 {
	line-height: 3;
	color: var(--clr-light-grey);
	font-family: var(--ff-accent);
}

input[type='checkbox'] {
	accent-color: var(--clr-green);
	cursor: pointer;
	margin-right: 15px;
}

.container {
	width: 350px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.output {
	width: 300px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 10px;
	background-color: var(--clr-grey);
	color: var(--clr-light-grey);
	border-radius: 5px;
}

.output p {
	padding-left: 15px;
}

.characters span {
	color: var(--clr-green);
	font-weight: var(--fw-700);
}

.clipboard {
	width: 25px;
	cursor: pointer;
	padding-right: 13px;
}

.hidden {
	display: none;
	opacity: 0;
}

.options {
	width: 300px;
	background-color: var(--clr-grey);
	padding: 10px;
	border-radius: 5px;
}

.characters {
	display: flex;
	justify-content: space-between;
	padding: 10px 16px 0;
}

.slider {
	accent-color: var(--clr-green);
	max-width: 280px;
	width: 90%;
	display: flex;
	justify-content: center;
	padding: 10px;
	margin: 0 auto;
	cursor: pointer;
}

.selectors {
	text-align: left;
	padding: 0 16px 10px;
	font-size: var(--fs-med);
}

.selectors div {
	padding: 3px 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.strength {
	display: flex;
	margin: 0 auto;
	width: 260px;
	justify-content: space-between;
	background-color: black;
	color: var(--clr-light-grey);
	padding: 10px;
	font-family: var(--ff-accent);
	font-size: var(--fs-small);
	border-radius: 5px;
}

.strength p {
	padding-top: 4px;
}

.strength-boxes {
	display: flex;
	justify-content: space-evenly;
	background-color: transparent;
}

.strength-boxes div {
	align-items: center;
	margin: 0 3px;
	border: 2px solid white;
	width: 5px;
}

.button {
	border: none;
	font-family: var(--ff-accent);
	color: var(--clr-black);
	background-color: var(--clr-green);
	padding: 12px 0 10px;
	margin: 10px auto 5px;
	width: 280px;
	cursor: pointer;
	border-radius: 5px;
}

.button.reset {
	background-color: rgba(234, 62, 62, 0.85);
	visibility: hidden;
	display: none;
}

.button.reset:hover {
	background-color: rgba(249, 4, 4, 0.85);
}

.button:hover {
	background-color: var(--clr-hover);
}

.copied {
	visibility: hidden;
	display: none;
	width: 302px;
	margin: 10px 0;
	padding: 8px;
	background-color: var(--clr-copied);
	color: var(--clr-black);
	border-radius: 5px;
}

.footer {
	padding: 10px 0;
	font-size: var(--fs-small);
}
